<p>addrecipe works!</p>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"><label for="">recipe image<input type="file" name="" id="" class="form-control"></label></div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"><label for="">recipe title<input type="text" class="form-control"></label></div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><label for="">description<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea></label></div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"><label for="">prepared by:</label></div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"><label for="">published date:</label><input type="date" class="form-control"></div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><button class="btn btn-danger">submit</button></div>
            </div>
        </div>
    </div>
</div>

